:root {
    --cor-de-fundo: #FCFCFF;
    --cor-letra-titulo: #191919;
    --fonte: 'Poppins';
    --cor-letra-texto: #4d4d4d;
    --cor-letra-menu: #4d4d4d;
    --cor-destaque: #577ae4;
    --cor-letra-apresentacao: #191919;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 2em;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 2em;
}

.nav-link{
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-letra-menu);
}

.nav-link:hover{
    
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    flex: 1;
}

.imagem__perfil {
    width: 80%;
    padding: 3em;
    animation: slideInLeft 2s forwards;
    border-radius: 50%;
}

.apresentacao {
    align-items: center;
}

.container__descricao {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.descricao__nome {
    color: var(--cor-letra-apresentacao);
    animation: slideInRight 1.5s forwards;
    padding-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cor-letra-texto);
    padding-left: 8em;
    animation: slideInRight 2s forwards;
    margin-bottom: 0.5em;
}

.descricao__texto span {
    font-weight: 600;
}

.container__imagem {
    display: flex;
    background-color: var(--cor-destaque);
    max-width: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 1.2em;
    animation: slideInLeft 1.5s forwards;
}

.outroteste {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

.botaoteste {
    animation: slideInRight 3s forwards;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container__botao {
    border-radius: 5px;
    padding: 0.7em;
    background-color: var(--cor-letra-texto);
    text-decoration: none;
    font-weight: 700;
    transition: opacity 0.5s ease;
    color: var(--cor-de-fundo);
    margin-left: 0.5em;
}

.rodape {
    color: var(--cor-letra-texto);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    flex-shrink: 0;
}

#btn1 {
    animation: slideInRight 3s forwards;
}

.rodape img {
    width: 1.5em;
    margin: 0 0.5em;
}

.rodape a {
    display: flex;
}

.container__sobre {
    display: flex;
    flex-direction: column;
    padding: 0 9em;
    flex: 1;
}

.container__autodescricao {
    width: 100%;
    padding-bottom: 4em;
}

.autodescricao__titulo {
    color: var(--cor-letra-titulo);
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 0.5em;
}

.autodescricao__texto {
    color: var(--cor-letra-texto);
    padding-left: 2em;
    text-align: justify;
}

.container__formacao {
    display: grid;
    grid-template-columns: 70% 30%;
}

.descricao__titulo {
    color: var(--cor-letra-titulo);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0.5em;
}

.descricao__instituicao {
    color: var(--cor-letra-texto);
}

.experiencia__titulo {
    color: var(--cor-letra-titulo);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0.5em;
}

.experiencia__texto {
    color: var(--cor-letra-texto);
    font-weight: 600;
}

.experiencia {
    border: 2px solid var(--cor-destaque);
    border-radius: 15px;
    padding: 1em 1em;
    width: auto;
    margin-left: 2em;
    margin-bottom: 0.5em;
    transition: border-color 0.3s;
}

.experiencia:hover {
    border-color: #0040ff;
}

.formacao {
    border: 2px solid var(--cor-destaque);
    border-radius: 15px;
    padding: 1em 1em;
    width: 60%;
    margin-left: 2em;
    margin-bottom: 0.5em;
    transition: border-color 0.3s;
    display: flex;
    gap: 2em;
    align-items: center;
}

.formacao:hover {
    cursor: pointer;
    border-color: #0040ff;
}

#titulo {
    font-weight: 600;
}

#instituicao {
    font-weight: 300;
    font-size: 15px;
}

#ano {
    font-weight: 300;
    font-size: 13px;
}

.imagem__sobre {
    width: 15%;
    border-radius: 50%;
}

.container__projetos {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    padding: 0 2em;
    justify-content: center;
}

.projetos__sobre {
    border: 2px solid var(--cor-destaque);
    border-radius: 15px;
    height: 20em;
    width: 24em;
    overflow: hidden;
    transition: border-color 0.3s;
}

.projetos__sobre div {
    height: 60%;
    padding: 0.7em;
}

.projetos__sobre img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.projetos__sobre:hover {
    cursor: pointer;
    border-color: #0040ff;
}

.projetos__sobre p {
    padding-left: 0.7em;
}

.titulo__projeto {
    color: var(--cor-letra-titulo);
    font-weight: 600;
}

.texto__projeto {
    color: var(--cor-letra-texto);
    font-weight: 300;
}

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 5em;
        flex-direction: column;
        background-color: var(--cor-de-fundo);
        width: 100%;
        height: auto;
        max-height: 90%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
        align-content: center;
        box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
    }

    .nav-menu.active {
        left: 0;
    }

    .header {
        flex-shrink: 0;
        position: sticky;
        z-index: 3;
        top: 0;
        background-color: var(--cor-de-fundo);
        height: 5em;
        transition: box-shadow 0.3s ease;
    }

    .nav-item {
        margin: 2em 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header.nav-shadow {
        box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
    }

    .container__descricao{
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }

    .descricao__texto {
        padding: 0;
        text-align: justify;
    }

    .botaoteste {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .imagem__perfil {
        padding: 1em;
    }

    .outroteste {
        margin: 2em 0;
        order: 1;
        max-width: 80%;
    }

    .container__imagem{
        max-width: 100%;
    }

    .container__projetos {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 2em 2em;
    }

    .descricao__instituicao{
        display: block;
    }

    .autodescricao__texto {
        padding: 0;
    }

    .experiencia{
        margin-left: 0;
    }

    .projetos__sobre{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .projetos__sobre img {
        max-width: 100%;
        vertical-align: middle;
        height: auto;
    }

    .projetos__sobre div {
        max-width: 100%;
        vertical-align: middle;
        height: auto;
    }

    .projetos__sobre .texto__projeto {
        padding-bottom: 3em;
    }

    .projetos__sobre p {
        text-align: justify;
        padding-right: 0.7em;
    }

    .container__sobre {
        padding: 2em 2em;
    }

    .container__formacao{
        display: flex;
        flex-direction: column;
    }

    .formacao{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

    .formacao__experiencia{
        padding-top: 1em;
        margin-left: 0;
    }

    #formacao1{
        margin-bottom: 1em;
    }

    .imagem__sobre {
        max-width: 100%;
        vertical-align: middle;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .experiencia {
        max-width: 70%;
        width: auto;
    }

    .container__sobre{
        display: flex;
        flex-direction: column;
    }

    .rodape {
        padding: 2em 2em;
    }
}