:root {
    --cor-de-fundo: #00162A;
    --branco-principal: #fcfaf9;
    --fonte: 'Poppins';
    --cor-letra-menu: #8593c4;
    --cor-letra-logotipo: #a0db9b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu {
    display: flex;
    height: 8vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.menu__itens {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5em;
}

.logotipo {
    padding-left: 2em;
    font-size: 30px;
    font-weight: 700;
    animation: slideInRight 1s forwards;
    color: var(--cor-letra-logotipo);
}

.menu__itens li {
    margin-left: 1em;
    animation: slideInLeft 1s forwards;
}

.menu__itens li a {
    color: var(--cor-letra-menu);
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em;
    font-weight: 700;
    transition: font-size 0.3s ease;
}

.menu__itens li a:hover {
    font-size: 20px;
    color: var(--branco-principal);
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}