:root {
    --cor-de-fundo: #FCFCFF;
    --branco-principal: #191919;
    --fonte: 'Poppins';
    --cor-letra-menu: #4d4d4d;
    --cor-letra-logotipo: #577ae4;
    --cor-letra-apresentacao-nome: #191919;
    --cor-letra-apresentacao-texto: #4d4d4d;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    /*padding: 1em 0;*/
    flex-shrink: 0;
}

.menu__itens {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 5em;
}

.menu__itens li {
    margin-left: 1em;}

.menu__itens li a {
    color: var(--cor-letra-menu);
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em;
    font-weight: 700;
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    flex: 1;
}

.imagem__perfil {
    width: 80%;
    max-width: 100%;
    animation: slideInLeft 2s forwards;
    border-radius: 50%;
}

.apresentacao {
    align-items: center;
    /*padding-top: 2em;*/
}

.container__descricao {
    text-align: right;
    padding-right: 1em;
}

.descricao__nome {
    color: var(--cor-letra-apresentacao-nome);
    animation: slideInRight 1.5s forwards;
    padding-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cor-letra-apresentacao-texto);
    padding-left: 8em;
    text-align: justify;
    animation: slideInRight 2s forwards;
    margin-bottom: 0.5em;
}

.descricao__texto span {
    font-weight: 600;
}

.container__imagem {
    display: flex;
    background-color: var(--cor-letra-logotipo);
    height: 70vh;
    width: 70vh;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    border-radius: 1.2em;
    animation: slideInLeft 1.5s forwards;
}

.container__botao {
    animation: slideInRight 2s forwards;
    border-radius: 5px;
    padding: 0.7em;
    background-color: var(--cor-letra-menu);
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: opacity 0.5s ease;
    color: var(--cor-de-fundo);
}

.rodape {
    color: var(--cor-letra-apresentacao-texto);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    flex-shrink: 0;
    /*position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;*/
}

.rodape img {
    width: 2em;
    margin: 0 0.5em;
}

.rodape p {
    /*margin: 0 2em;*/
}

.rodape a {
    display: flex;
}

/* SOBRE */

.container__sobre {
    display: flex;
    flex-direction: column;
    padding: 0 9em;
    flex: 1;
    /*margin-top: 2em;*/
}

.container__autodescricao {
    width: 100%;
    padding-bottom: 4em;
}

.autodescricao__titulo {
    color: var(--branco-principal);
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 0.5em;
}

.autodescricao__texto {
    color: var(--cor-letra-apresentacao-texto);
    padding-left: 2em;
    text-align: justify;
}

.container__formacao {
    display: grid;
    grid-template-columns: 70% 30%;
}

.descricao__titulo {
    color: var(--branco-principal);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0.5em;
}

.descricao__instituicao {
    color: var(--cor-letra-apresentacao-texto);
}

.experiencia__titulo {
    color: var(--branco-principal);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0.5em;
}

.experiencia__texto {
    color: var(--cor-letra-apresentacao-texto);
}

.experiencia {
    border: 2px solid var(--cor-letra-logotipo);
    border-radius: 15px;
    padding: 1em 1em;
    width: auto;
    margin-left: 2em;
    margin-bottom: 0.5em;
    transition: border-color 0.3s;
}

.experiencia:hover {
    border-color: #0040ff;
}

.formacao {
    border: 2px solid var(--cor-letra-logotipo);
    border-radius: 15px;
    padding: 1em 1em;
    width: 60%;
    margin-left: 2em;
    margin-bottom: 0.5em;
    transition: border-color 0.3s;
    display: flex;
    gap: 2em;
    align-items: center;
}

.formacao:hover {
    cursor: pointer;
    border-color: #0040ff;
}

#titulo {
    font-weight: 600;
}

#instituicao {
    font-weight: 300;
    font-size: 15px;
}

#ano {
    font-weight: 300;
    font-size: 13px;
}

.imagem__sobre {
    width: 15%;
    border-radius: 50%;
}

/* PROJETOS */

.container__projetos {
    display: flex;
    flex: 1;
    align-items: center;
    /*margin: 2em 9em;*/
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
}

.projetos__sobre {
    border: 2px solid var(--cor-letra-logotipo);
    border-radius: 15px;
    height: 20em;
    width: 24em;
    overflow: hidden;
    transition: border-color 0.3s;
    /*transition: width 0.8s ease, height 0.8s ease;*/
}

.projetos__sobre div {
    height: 60%;
    padding: 0.7em;
}

.projetos__sobre img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.projetos__sobre:hover {
    cursor: pointer;
    border-color: #0040ff;
    /*width: 25em;
    height: 21em;*/
}

.projetos__sobre p {
    margin-left: 0.7em;
}

.titulo__projeto {
    color: var(--cor-letra-apresentacao-texto);
    font-weight: 600;
}

.texto__projeto {
    color: var(--cor-letra-apresentacao-texto);
    font-weight: 300;
}
